<?xml version="1.0" encoding="utf-8"?>
<AmazonEnvelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="amznenvelope.xsd">
	<Header>
		<DocumentVersion>1.01</DocumentVersion>
		<MerchantIdentifier/>
	</Header>
	<MessageType>OrderFulfillment</MessageType>
	<Message>
		<MessageID>1</MessageID>
		<OrderFulfillment>
			<AmazonOrderID>404-7245036-2643525</AmazonOrderID>
			<MerchantFulfillmentID>23831330082018</MerchantFulfillmentID>
			<FulfillmentDate>2018-08-30T13:10:21.000+02:00</FulfillmentDate>
			<FulfillmentData>
				<CarrierName>BARTOLINI</CarrierName>
				<ShipperTrackingNumber>154028022054733</ShipperTrackingNumber>
			</FulfillmentData>
		</OrderFulfillment>
	</Message>
</AmazonEnvelope>